body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif; ;
}
/* Colors to use
Header: Background & Information Text=#1F2937 Main Text=#F9FAF8 Secondary Text=#E5E7EB
Button: #3882F6
*/
.header, .footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

/* Header */

.header{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.logo{
  font-size: 24px;
}

.menu ul{
  display: flex;
  gap:15px;
  list-style: none;
}

.menu a{
  text-decoration: none;
  color: #E5E7EB;
}

.header-container{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 50px;
  padding-bottom: 110px;
  padding-left: 40px;
  padding-right: 40px;
}
/* Hero Text */
.hero-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* flex-wrap: wrap;
  flex: 1; */
}
.hero-title{
  font-size: 48px;
  padding-bottom: 5px;
}
.secondary {
  font-size: 18px;
  color: #E5E7EB;
  padding-bottom: 10px;
}

button.hero-button{
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 10px 25px;
  border: none;
  width: 120px;
  border-radius: 6px;
}
.hero-img {
  flex-shrink: 0;
  width: 50%;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 250px ;
}


/* Information */

.info-container{
  /*
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  */
  padding: 50px;
  /* margin: 25px; */
} 

.title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
  /* Add */
  margin-bottom: 32px;

  
  
}

.infobox {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-top: 40px;
margin-bottom: 40px;
gap: 20px;
/* padding: 40px; */
}


.infoitem{
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px; */
  max-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.img {
  /* border-color: #3882F6;
  border-style: solid; */
  border: 4px solid #3882F6;
  border-radius: 5px;
  height: 160px;
  width: 160px;
}

.text {
  color: #1F2937;
  font-size: 14px;
  font-weight: 300;
}


/* Quote */

.quote{
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px;
  gap: 20px;

}

.quote1 {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1F2937;
}


.quote2 {
align-self: flex-end;
color: #1F2937;
font-weight: bold;

}



/* Sign Up */

.signup {
  padding: 50px;
}

.signbox {
  display: flex;
  justify-content: space-around;
  background-color: #3882F6;
  padding: 35px;
  border-radius: 10px;
}

.sign-text{
  font-weight: 800;
  color: #F9FAF8;
}

.sign-text2 {
  color: #E5E7EB;
  font-size: 12px;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  padding-left: 30px;
  padding-right: 30px;
  border-color: #F9FAF8;
  border-radius: 5px;
  border-style: solid;
}

/* Footer */


.footer {
  display: flex;
  justify-content: center;
  padding: 25px;
  font-size: 12px;
}